.container{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    margin-bottom: 7px;
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 7px;
    border: 5px solid #1f11e2;
    border-radius: 20px;
    background: linear-gradient(rgba(207, 91, 207, 0.5),rgba(31, 17, 226, 0.5));
}

.origin{
    font-size: 20px;
    font-family: Impact;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 150px;
    height: 100px;
    justify-content: center;
    border: 5px solid #1f11e2;
    background: linear-gradient(rgba(207, 91, 207, 0.5),rgba(31, 17, 226, 0.5));
    border-radius: 30px;
    color: rgba(207, 91, 207, 0.9);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.origin:hover {
    background: linear-gradient(rgba(207, 91, 207, 0.9),rgba(31, 17, 226, 0.9));
}

.genres{
    font-size: 20px;
    font-family: Impact;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 200px;
    height: 100px;
    justify-content: center;
    border: 5px solid #1f11e2;
    background: linear-gradient(rgba(207, 91, 207, 0.5),rgba(31, 17, 226, 0.5));
    border-radius: 30px;
    color: rgba(207, 91, 207, 0.9);;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.genres:hover {
    background: linear-gradient(rgba(207, 91, 207, 0.9),rgba(31, 17, 226, 0.9));
}

.by{
    font-size: 20px;
    font-family: Impact;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 150px;
    height: 100px;
    justify-content: center;
    border: 5px solid #1f11e2;
    background: linear-gradient(rgba(207, 91, 207, 0.5),rgba(31, 17, 226, 0.5));
    border-radius: 30px;
    color: rgba(207, 91, 207, 0.9);;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.by:hover {
    background: linear-gradient(rgba(207, 91, 207, 0.9),rgba(31, 17, 226, 0.9));
}

.order{
    font-size: 20px;
    font-family: Impact;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 150px;
    height: 100px;
    justify-content: center;
    border: 5px solid #1f11e2;
    background: linear-gradient(rgba(207, 91, 207, 0.5),rgba(31, 17, 226, 0.5));
    border-radius: 30px;
    color: rgba(207, 91, 207, 0.9);;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.order:hover {
    background: linear-gradient(rgba(207, 91, 207, 0.9),rgba(31, 17, 226, 0.9));
}


