.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    background-size: cover;
    border: 10px solid black;
    background-color: rgba(240, 248, 255, 0);
}