.container {
    display: flex;
    justify-content: center;
  }

.item{
    display: inline-block;
    margin: auto;
    background-color: #eee;
    cursor: pointer;
}


.item:hover {
    /* Estilo al pasar el cursor por encima */
    background-color: #ccc;
}

.item:active {
    /* Estilo mientras se mantiene presionado el clic */
    background-color: #aaa;
}